.parent{
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  height: 400px;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;

}

.child{
  background-color: skyblue;
  padding: 20px 20px;
  font-size: 30px;
  border-radius: 10px;
}